@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: 'Inter Tight', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fade-in {
   from {
      opacity: 0;
      transform: scale(0.95);
   }
   
   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes fadeInFromTop {
   0% {
      transform: translateY(-100%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes fadeOutToTop {
   0% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(-100%);
      opacity: 0;
   }
}

@keyframes fadeInFromBottom {
   0% {
      transform: translateY(100%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes fadeOutToBottom {
   0% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(100%);
      opacity: 0;
   }
}
